{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <div class="w-75 m-auto">
        <h1 class="text-center">{{movie.title}}</h1>
        <img src="{{ movie.poster.url }}" alt="" class="d-block w-100">
        <p>{{movie.summary}}</p>
        {% for review in movie.reviews.all %}
            <hr>
            <a href="{% url 'movies:detail_review' review.id %}" class="h4">{{review.title}}</a>
        {% endfor %}
        <br><br>
        <a href="{% url 'movies:create_review' movie.id %}" type="button" class="btn btn-primary">리뷰 쓰기</a>
    </div>



{% endblock %}